

.contacts {
    padding: 152px 0 209px 0;
    background-color: #F4F5F6;
    background-image: url('../img/contacts-page/image-cover.png');
    background-position: right;
    background-repeat: no-repeat;

    &__content {
        max-width: 600px;
    }

    &__title {
        font-weight: 700;
        font-size: 72px;
        line-height: 130%;
        letter-spacing: 1px;
        color: $gray-b;
        text-transform: uppercase;
        margin-bottom: 24px;

        @media ($mw: 576px) {
            font-size: 56px;
        }
    }

    &__descr {
        font-size: 20px;
        line-height: 150%;
        color: $gray-l;
    }

    @media ($mw: 768px) {
        background-image: none;
        padding-bottom: 70px;
    }
}




.contact-us {
    padding: 120px 0;

    &__content {
        display: flex;
        justify-content: space-between;

        @media ($mw: 1024px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__img {
        max-width: 495px;
        margin-right: 30px;
        img {
            width: 100%;
            @media ($mw: 1024px) {
                height: 100%;
                object-fit: cover;
            }
        }

        @media ($mw: 1024px) {
            margin-bottom: 30px;
            max-width: 100%;
            height: 200px;
        }
    }
}

.form-contacts {

    &__items {
        display: flex;

        @media ($mw: 576px) {
            flex-direction: column;
        }
    }

    &__input {
        margin-right: 30px;
        width: 285px;
        @media ($mw: 576px) {
            width: 100%;
        }
    }

    &__field {
        margin-bottom: 24px;

        input {
            @media ($mw: 576px) {
                width: 100%;
            }
        }

        textarea {
            padding-top: 10px;
            resize: none;
            height: 128px;
            max-width: 600px;

            @media ($mw: 576px) {
                width: 100%;
            }
        }

        @media ($mw: 576px) {
            width: 100%;
        }
    }

    &__radio {
        @media ($mw: 576px) {
            margin-bottom: 24px;
        }
    }

    &__radio-item {
        label {
            cursor: pointer;

            &:not(:last-child) {
                margin-right: 24px;
            }
        }
    }

    &__radio-custom {
        position: relative;
        display: inline-block;
        width: 16px;
        height: 16px;
        background: $white;
        border: 2px solid #B3B7BC;
        border-radius: 100%;
        margin-right: 12px;
        vertical-align: text-top;

        &::before {
            content: '';
            position: absolute;
            display: inline-block;
            width: 8px;
            height: 8px;
            left: 50%;
            top: 50%;
            background: $orange;
            border-radius: 100%;

            transform: translate(-50%, -50%) scale(0);
            transition: 0.3s ease-in-out;
        }
    }

    &__radio-raal {
        width: 0;
        height: 0;
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    &__radio-caption {
        display: block;
        margin-bottom: 20px;
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 16px;

        @media ($mw: 576px) {
            display: block;
        }
    }

    &__btn {
        padding-left: 42px;
        padding-right: 42px;
    }
}

.form-contacts__radio-raal:checked + .form-contacts__radio-custom::before {
    transform: translate(-50%, -50%) scale(1);
}

.select {
    position: relative;
    margin-bottom: 24px;
    width: 285px;

    &__caption {
        display: block;
        margin-bottom: 7px;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 16px;
        background: #F4F5F7;
        border: 1px solid #D7DADD;
        border-radius: 4px;
        cursor: pointer;

        @media ($mw: 576px) {
            width: 100%;
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: center;
        text-align: center;
        svg {
            width: 20px;
            height: 20px;
        }
    }

    &__body {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        background-color: $white;
        border: 1px solid #D7DADD;
        border-top: 0;
    }

    &__item {
        padding: 4px 16px;
        font-size: 16px;
        line-height: 160%;
        color: $gray-l;
        cursor: pointer;

        &:hover {
            background-color: #F4F5F7
        }
    }

    &__current {
        font-size: 16px;
        line-height: 160%;
        color: #424551;
    }

    @media ($mw: 576px) {
        width: 100%;
    }
}

.is-active {

    .select__body {
        display: block;
        z-index: 100;
    }
}

.custom-checkbox {
    &__text {
        max-width: 315px;

        @media ($mw: 576px) {
            margin-bottom: 16px;
            max-width: 100%;
        }
    }
    
}





.address {
    padding-bottom: 95px;
    padding-top: 80px;
    background-color: #f4f5f6;

    &__list {
        margin-bottom: 120px;
        --mission-gap: 94px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: calc(var(--mission-gap) * 2);

        @media ($mw: 1024px) {
            --mission-gap: 30px;
        }

        @media ($mw: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__item {
        position: relative;
        background-position: top center;
        background-size: 48px 48px ;
        background-repeat: no-repeat;

        font-size: 16px;
        line-height: 160%;
        color: $gray-b;

        &:not(:last-child) {
            &:after {
                content: "";
                position: absolute;
                right: calc(-1 * var(--mission-gap));
                top: 0;
                width: 1px;
                height: 100%;
                background-image: url(../img/mission/line.svg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;

                @media ($mw: 768px) {
                    display: none;
                }
            }
        }

        @media ($mw: 768px) {
            text-align: center;
        }
    }

    &__caption {
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;
        color: $gray-b;
    }

    &__info {
        margin-bottom: 4px;
    }

    &__link {
        display: block;
        margin-bottom: 20px;
        color: $orange;
        text-decoration: underline;
    }

    &__data {
        span {
            margin-right: 4px;
            color: $gray-l;
        }

        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 15px;

        a {
            &:not(:last-child) {
                margin-right: 24px;
            }
        }

        svg {
            width: 32px;
            height: 32px;
            fill: #787a80;
            transition: fill 0.3s ease-in-out;

            &:hover {
                fill: $orange;
            }
        }
    }
}
