@font-face {
    font-family: Lato;
    font-display: swap;
    src: url("../fonts/Lato-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Ubuntu;
    font-display: swap;
    src: url("../fonts/Ubuntu-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Ubuntu;
    font-display: swap;
    src: url("../fonts/Ubuntu-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Lato;
    font-display: swap;
    src: url("../fonts/Lato-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
